.filters {
  max-width: 215px;
  color: #FFF;
  user-select: none;
}
.filters__title {
  font-family: Exo;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 48px;
  margin: 0 0 12px 0;
}
.filters__list {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 12px;
}
.filters__item {
  cursor: pointer;
  max-width: 212px;
  margin: 0 auto;
  padding: 9px 85px 9px 11px;
  background-color: rgba(255, 255, 255, 0.1);
  box-sizing: border-box;
  position: relative;
  transition: box-shadow 0.3s;
}
.filters__item:hover {
  box-shadow: 0px 0px 12px 2px rgba(255,255,255,0.67);
}
.filters__item:not(:first-child) {
  margin-top: 15px;
}
.dot {
  content: '';
  width: 2px;
  height: 2px;
  display: inline-block;
  position: absolute;
  background-color: #FFF;
}
.dot:first-child {
  top: 0;
  left: 0;
}
.dot:nth-child(2) {
  top: 0;
  right: 0;
}
.dot:nth-child(3) {
  top: 28px;
  left: 0;
}
.dot:last-child {
  top: 28px;
  right: 0;
}