.basket {
  position: relative;
  cursor: pointer;
}
.basket_svg {
  width: 21px;
  height: 19px;
}
.basket__value {
  color: #FFF;
  background-color: #0B0C23;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  position: absolute;
  text-align: right;
  top: -7px;
  right: -5px;
  padding: 0px 3px;
}