.news {
  max-width: 211px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  user-select: none;
  @media screen and(max-width: 1024px) {
    display: none;  
  }
}
.news__title {
  font-family: 'Exo';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 48px;
  margin: 0 0 12px 0;
  color: #FFF;
}
.news__banner {
  width: 100%;
  cursor: pointer;
  transition: box-shadow 0.3s;
}
.news__banner:hover {
  box-shadow: 0px 0px 12px 2px rgba(255,255,255,0.67);
}