.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo_block {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header__logo {
  margin-right: 24px;
  display: inline-block;
  font-size: 0;
}