.onSale {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 715px;
  color: #FFF;
}
.onSale__title {
  font-family: 'Exo';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 44px;
  margin: 0;
  color: #FFF;
}