.jss5:first-child::after,
.jss5:last-child::after,
.jss5:last-child::before,
.jss5:first-child::before {
  content: '';
  display: inline-block;
  background-color: #FFF;
  width: 2px;
  height: 2px;
  position: absolute;
}
.jss5:last-child::before,
.jss5:first-child::before {
  bottom: 0px;
}
.jss5:first-child::after,
.jss5:last-child::after {
  top: 0px;
}
.jss5:last-child::before,
.jss5:last-child::after {
  right: 0px;
}
.jss5:first-child::before,
.jss5:first-child::after {
  left: 0px;
}

.jss4:nth-child(odd) {
  background-color: #ffffff1a;
}
.jss4:nth-child(even) {
  background-color: #ffffff0d;
}

.jss6:first-child::after,
.jss6:last-child::after,
.jss6:last-child::before,
.jss6:first-child::before {
  content: '';
  display: inline-block;
  background-color: #FFF;
  width: 2px;
  height: 2px;
  position: absolute;
}
.jss6:last-child::before,
.jss6:first-child::before {
  bottom: 0px;
}
.jss6:first-child::after,
.jss6:last-child::after {
  top: 0px;
}
.jss6:last-child::before,
.jss6:last-child::after {
  right: 0px;
}
.jss6:first-child::before,
.jss6:first-child::after {
  left: 0px;
}
// .makeStyles-headCell-5:first-child::after,
// .makeStyles-headCell-5:last-child::after,
// .makeStyles-headCell-5:last-child::before,
// .makeStyles-headCell-5:first-child::before {
//   content: '';
//   display: inline-block;
//   background-color: #FFF;
//   width: 2px;
//   height: 2px;
//   position: absolute;
// }
// .makeStyles-headCell-5:last-child::before,
// .makeStyles-headCell-5:first-child::before {
//   bottom: 0px;
// }
// .makeStyles-headCell-5:first-child::after,
// .makeStyles-headCell-5:last-child::after {
//   top: 0px;
// }
// .makeStyles-headCell-5:last-child::before,
// .makeStyles-headCell-5:last-child::after {
//   right: 0px;
// }
// .makeStyles-headCell-5:first-child::before,
// .makeStyles-headCell-5:first-child::after {
//   left: 0px;
// }

// .makeStyles-bodyRow-4:nth-child(odd) {
//   background-color: #ffffff1a;
// }
// .makeStyles-bodyRow-4:nth-child(even) {
//   background-color: #ffffff0d;
// }

// .makeStyles-bodyCell-6:first-child::after,
// .makeStyles-bodyCell-6:last-child::after,
// .makeStyles-bodyCell-6:last-child::before,
// .makeStyles-bodyCell-6:first-child::before {
//   content: '';
//   display: inline-block;
//   background-color: #FFF;
//   width: 2px;
//   height: 2px;
//   position: absolute;
// }
// .makeStyles-bodyCell-6:last-child::before,
// .makeStyles-bodyCell-6:first-child::before {
//   bottom: 0px;
// }
// .makeStyles-bodyCell-6:first-child::after,
// .makeStyles-bodyCell-6:last-child::after {
//   top: 0px;
// }
// .makeStyles-bodyCell-6:last-child::before,
// .makeStyles-bodyCell-6:last-child::after {
//   right: 0px;
// }
// .makeStyles-bodyCell-6:first-child::before,
// .makeStyles-bodyCell-6:first-child::after {
//   left: 0px;
// }