.footer {
  position: sticky;
  bottom: 0;
  background-color: #0B0C23;
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.socials {
  margin: 10px 0;
  width: 168px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.socials__item {
  width: 33px;
  height: 33px;
  background-color: #ffffff1a;
  cursor: pointer;
  transition: box-shadow 0.3s;
}
.socials__item:hover { 
  box-shadow: 0px 0px 12px 2px rgba(255,255,255,0.67);
}