.lang_block {
  width: 79px;
  display: flex;
  flex-direction: column;
}
.lang_block:hover .lang__current_lang {
  text-decoration: underline;
}
.lang__top {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  position: relative;
}
.lang__earth_icon {
  width: 20px;
  height: 20px;
  font-size: 0;
  margin-right: 15px;
}
.lang__current_lang {
  font-family: 'Exo';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: #FFF;
  user-select: none;
}
.lang__options {
  width: 79px;
  border-top: 1px solid #C4C4C4;
  position: absolute;
  top: 62px;
  z-index: 3;
}
.lang__options::after {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #0B0C23;
  border-top: 1px solid #C4C4C4;
  border-right: 1px solid #C4C4C4;
  transform: rotate(-45deg);
  position: absolute;
  top: -6px;
  right: 15px;
}
.lang__items_list {
  list-style: none;
  margin: 0;
  text-align: left;
  position: relative;
  display: inline-grid;
}
.lang__items_list::before,
.lang__items_list::after {
  content: '';
  display: inline-block;
  width: 2px;
  height: 2px;
  background-color: #C4C4C4;
  position: relative;
}
.lang__items_list::before {
  top: 102px;
  left: -40px;
}
.lang__items_list::after {
  bottom: 0px;
  right: -37px;
}
.lang__item {
  font-family: 'Open Sans';
  color: #C4C4C4;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  margin-bottom: 13px;
  user-select: none;
  cursor: pointer;
}