body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Open Sans', 'Roboto', 'Exo',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0B0C23;
  & {
    @media (max-width: 1440px) {
      max-width: 96%;
      margin: 18px auto 25px auto;
    }
    @media (max-width: 1024px) {
      max-width: 94.1%;
      margin: 19px auto 24px auto;
    }
    @media (max-width: 768px) {
      max-width: 92%;
      margin: 47px auto 30px auto;
    }
    @media (max-width: 425px) {
      max-width: 93.5%;
      margin: 21px auto 13px auto;
    }
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}